extends layout.pug

block cssLinks
    link(rel="stylesheet" href="/styles/form.css")
    link(rel="stylesheet" href="/styles/uploadForm.css")
    link(rel="stylesheet" href="/styles/editForm.css")

block scripts
    script(src="/Elements/UploadForm.js")
    script(src="/Elements/RecipePickerFormPopulater.js")

block content
    recipe-picker-form-populater(initialRecipe=initialRecipe)
    upload-recipe-form