doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(property="og:title" content=name)
        meta(property="og:locale" content="en_US")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="BC Cookbook")
        block metaTags

        link(rel="stylesheet" href="https://use.typekit.net/ajw4icq.css")

        // Bootstrap and FA CSS
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" media="screen")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" media="screen")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

        link(rel="stylesheet" href="/styles/bootstrapOverrides.css" media="screen")
        link(rel="stylesheet" href="/styles/global.css")
        block cssLinks

        script(src="/Elements/AbstractCustomElement.js")
        script(src="/Utilities/DBMessageService.js")
        script(src="/Utilities/SearchUtilities.js")
        script(src="/Utilities/SectionUtilities.js")
        script(src="/Elements/GlobalNavBar.js")
        script(src="/init.js")

        block scripts
        title #{name}
  
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
        link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#f7931e")
        meta(name="msapplication-TileColor" content="#f7931e")
        meta(name="theme-color" content="#ffffff")
    body(class=useDarkMode ? 'dark-theme' : 'light-theme')
        global-nav-bar(useDarkMode=JSON.stringify(useDarkMode))
        block content
      
        // jQuery first, then Popper.js, then Bootstrap JS
        script(src="https://code.jquery.com/jquery-1.11.0.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js")
