#recipeWrapper {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
    font-family: benton-sans, sans-serif;
    color: var(--dark-theme-recipe-text-color, #4a4a4a);
    width: 100%;
    position: relative;
    opacity: 0;
    overflow: hidden;
    transition: padding 0.5s, opacity: 0.5s;
}

#recipeWrapper #recipeTitle {
    font-family: caecilia, sans-serif;
    font-weight: bold;
    font-size: 42px;
}

#dotSeparator {
    padding-left: 5px;
    padding-right: 5px;
}

#recipeWrapper #subTitle {
    position: absolute;
    padding-top: 3px;
    padding-bottom: 15px;
    font-variant: small-caps;
    float: left;
}

#recipeWrapper #subTitle #servingsNumber {
    font-size: 0.85rem;
}

#recipeWrapper #socialButtons {
    display: inline-block;
    float: right;
}

#recipeWrapper #socialButtons .btn {
    color: var(--dark-theme-recipe-text-color, initial);
}

#recipeWrapper #socialButtons .socialIcon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    transition: color 0.3s ease-out;
    padding: 0;
}

#recipeWrapper #socialButtons .socialIcon:hover {
    color: #003973;
}

#recipeWrapper .image-wrapper {
    padding-bottom: 20px;
    padding-top: 40px;
}

#recipeWrapper #recipeImage {
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    transition: 0.5s width;
}

#recipeWrapper #ingredientsColumn .tag-wrapper {
    display: initial;
}

#recipeWrapper #stepsColumn .tag-wrapper {
    display: none;
}

#recipeWrapper .tag-wrapper a.tag-link {
    color: white;
}

#recipeWrapper.loaded {
    opacity: 1;
    transition: padding 0.5s, opacity 0.5s;
}

#recipeWrapper #recipeBody {
    font-size: 14px;
}

#recipeWrapper .ingredients-title {
    font-weight: bold;
}

#recipeWrapper #ingredientsColumn ul {
    padding-inline-start: 0;
    list-style-type: none;
}

#recipeWrapper #ingredientsColumn ul li {
    line-height: 35px;
}

#recipeWrapper #ingredientsColumn {
    padding-right: 20px;
    margin-bottom: 20px;
}

#recipeWrapper #ingredientsColumn .badge,
#recipeWrapper #stepsColumn .badge {
    margin: 3px;
}

#recipeWrapper #ingredientsColumn .tagTitle {
    font-weight: bold;
}

#recipeWrapper #stepsColumn ul {
    padding-inline-start: 0;
    list-style-type: none;
}

#recipeWrapper #stepsColumn ul li {
    padding-bottom: 30px;
}

#recipeWrapper #stepsList .stepTitle {
    font-weight: bold;
}

#recipeWrapper #stepsList .stepText {

}

#recipeWrapper .sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
}

@media screen and (max-width: 1500px) {
  #recipeWrapper {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 1000px) {
  #recipeWrapper {
    padding-left: 5%;
    padding-right: 5%;
  }

   #recipeWrapper #recipeImage {
    width: 111%;
  }
}

@media screen and (max-width: 559px) {
  #recipeWrapper #ingredientsColumn .tag-wrapper {
    display: none;
  }

  #recipeWrapper #stepsColumn .tag-wrapper {
    display: inherit;
  }

  #recipeWrapper .sticky {
    position: relative;
    top: 0px;
}

}