#bannerWrapper {
    position: relative;
    height: calc(80vh - 56px);
    top: -4px; /* not sure */
    transition: 0.8s height;
}

#bannerWrapper.searching {
    height: 180px;
}

#bannerWrapper #bannerImage {
    height: 100%;
    width: 100%;
    opacity: 1;
    position: relative;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;

    display: block;
    transition: 0.5s opacity;
}

@supports (-webkit-overflow-scrolling: touch) {
    #bannerWrapper #bannerImage {
        background-attachment: scroll; /* fixed not supported on mobile */
    }
}

#bannerWrapper #bannerTitle {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    padding: 5px;
    background-color: rgb(0, 0 , 0, 0.4);
    border-radius: 5px;
    max-width: 90%;
}

#bannerWrapper #bannerTitle a {
    color: inherit;
    text-decoration: none;
}

.search-wrapper {
    height: 100%;
}

.searchBar-wrapper {
    position: relative;
    display: flex;
    margin: auto;
    min-width: 284px;
    width: 30%;
    padding: 0 22px 0 22px;
    height: 75px;
    background-color: var(--dark-theme-searchbar-wrapper-bg, rgb(255, 255, 255, 0.5));
    backdrop-filter: saturate(200%) blur(4px);
    -webkit-backdrop-filter: saturate(200%) blur(4px);
    border-radius: 8px;
}

#searchBar {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
    background-color: var(--dark-theme-searchbar-bg, white);
    border: none;
    color: var(--dark-theme-form-text-color, initial);
}

#searchBar::placeholder {
    color: var(--dark-theme-searchbar-placeholder-color, black);
}

#numRecipesCounter {
    color: var(--dark-theme-form-text-color, initial);
    font-family: benton-sans, sans-serif;
    margin-top: 20px;
    text-align: center;
}

#recipeCardDeck {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
}

#recipeCardDeck.loaded a {
    opacity: 1;
}

#recipeCardDeck a {
    position: relative;
    margin: 10px;
    width: 80%;
    height: 260px;
    max-height: 100vw;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: var(--dark-theme-recipe-card-box-shadow, 0 0 12px 0px lightgrey);
    background-color: var(--dark-theme-recipe-card-bg, none);
    opacity: 0;
    overflow: hidden;
    transition: 0.25s opacity, 0.8s width;
    transition-delay: var(--delay);
}

#recipeCardDeck a.off-screen {
    opacity: 0;
}

#recipeCardDeck a.hidden-by-search {
    display: none;
}

#recipeCardDeck .recipe-card {
    position: relative;
    width: 100%;
    height: 100%;
}

#recipeCardDeck .recipe-card .recipe-image-wrapper {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 160px;
}

#recipeCardDeck .recipe-card .recipe-img {
    object-fit: cover;
    transition: 1s transform;
    width: 100%;
    height: 160px;
}

#recipeCardDeck a .recipe-section {
    color: var(--section-color);
    font-family: benton-sans, sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: left;
}

#recipeCardDeck a .recipe-title {
    color: var(--dark-theme-recipe-card-title-color, rgb(50, 50, 50));
    font-weight: 500;
    font-family: benton-sans, sans-serif;
    font-size: 14px;
    text-align: left;
}

#recipeCardDeck a:hover {
    text-decoration: none;
}

#recipeCardDeck .recipe-body {
    position: relative;
    top: 160px;
    height: calc(100% - 160px);
    width: 100%;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-top: 3px solid var(--section-color);
}

#recipeCardDeck .recipe-card .recipe-age {
    position: absolute;
    top: 8px;
    right: 10px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}

#recipeCardDeck .recipe-card:hover img {
    transform: scale(1.05);
}

@media screen and (max-width: 500px) {

    #bannerWrapper #bannerTitle {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        text-align: center;
        padding: 5px;
        margin: auto;
    }
}

@media screen and (min-width: 500px) {
    #recipeCardDeck a {
        width: 40%;
    }
}

@media screen and (min-width: 850px) {
    #recipeCardDeck a {
        width: 30%;
    }

    #bannerWrapper #bannerTitle {
        right: 10px;
        left: unset;
        transform: unset;
    }


    #bannerWrapper {
        height: calc(70vh - 56px);
    }
}

@media screen and (min-width: 1000px) {
    #recipeCardDeck a {
        width: 20%;
    }
}